<a href="https://colab.research.google.com/github/Wayne122/CMPE257/blob/main/Homework4-Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 4 -- Logistic Regression

Author: Han-Wei Lin

Dataset source: https://archive.ics.uci.edu/ml/datasets/Heart+Disease

Dataset in-drive ID: 1_2mf4NXzVFyxuZ1QXPHpBNnHcPeGj-H5

Data:
This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to
this date.

##Import library and data

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

downloaded = drive.CreateFile({'id':"1_2mf4NXzVFyxuZ1QXPHpBNnHcPeGj-H5"})
downloaded.GetContentFile('dataset.csv')

data = pd.read_csv('dataset.csv')
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

## Applying linear regression

### Split input and output

In [ ]:
i_train = data.drop('target', axis=1)
o_train = data['target']

### Create model and train

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
ols = LinearRegression()
ols.fit(i_train, o_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Check the result

In [ ]:
pred = ols.predict(i_train)
pred = [0 if i < 0.5 else 1 for i in pred]
metrics.accuracy_score(o_train, pred)

0.8514851485148515

## Applying logistic regression

### Create model and train

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(max_iter=1000)
clf.fit(i_train, o_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Check the result

In [ ]:
pred = clf.predict(i_train)
metrics.accuracy_score(o_train, pred)

0.8481848184818482

## Conclusion

What I did is used all the data we have to predict if the record owner has heart disease. According to the data provider, there were more columns than now, the columns we have now are all risk factors.

Applying binary step after linear regression is actually more accurate than just applying logistic regression. I guess it is because the gap between the model results in 0 and 1 is very narrow. So using binary step which is a steep change between 0 and 1 can better present the result.

## References
https://scikit-learn.org/stable/auto_examples/linear_model/plot_logistic.html