<a href="https://colab.research.google.com/github/Wayne122/CMPE257/blob/main/Homework5-Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 5 -- Random Forest

Author: Han-Wei Lin

Dataset source: https://archive.ics.uci.edu/ml/datasets/Heart+Disease

Dataset in-drive ID: 1_2mf4NXzVFyxuZ1QXPHpBNnHcPeGj-H5

Data:
This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to
this date.

##Import library and data

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

downloaded = drive.CreateFile({'id':"1_2mf4NXzVFyxuZ1QXPHpBNnHcPeGj-H5"})
downloaded.GetContentFile('dataset.csv')

data = pd.read_csv('dataset.csv')
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

## Applying random forest classifier

### Split input and output

In [ ]:
from sklearn.model_selection import cross_val_score

i = data.drop('target', axis=1)
o = data['target']

### Create model, fit and inspect

#### Logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression
rgs = LogisticRegression(max_iter=1000)
scores = cross_val_score(rgs, i, o, cv=4)
scores

array([0.85526316, 0.86842105, 0.84210526, 0.77333333])

#### Random forest classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
scores = cross_val_score(clf, i, o, cv=4)
scores

array([0.82894737, 0.92105263, 0.77631579, 0.76      ])

## Conclusion

According to the previous assignment, we know that our data set fits better in the decision tree model. But I did not utilize train-test-split back then. Here we can see that, although random forest classifier still achieves the highest accuracy in one of the set most of the time, logistic regression can achieve better accuracy in terms of the average of all sets. This may means my previous conclusion about decision tree classifier is better for our data set could be wrong. Maybe it is just decision tree tends to overfit more easily.

## References

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html

https://scikit-learn.org/stable/modules/cross_validation.html

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html